<div>
	<h1>Log in</h1>
</div>
<div class="pad-left">
	<p class="be-red pad-left">* <%= @message %> </br></p>
  	<p>Ingrese su usuario y se enviara la contraseña a su correo electronico registrado</p>
</div>
<div class= "Sign_Form pad-left2">
 
  <%= form_tag(:action => 'sendpass') do %>
  	  	</br>
    <p>Ingrese usuario:</br> <%= text_field_tag(:username, nil, placeholder: "Ingrese nombre de usuario.") %></p> 
    
    <%= submit_tag("Enviar contraseña a correo") %>
   
  <% end %>

</div>