<h1>Catalogo</h1>

<% @productos.each do |p| %>
<% path="./public/images/products/"+p.id.to_s+"/"+p.image%>

<section class="catalogo">
	<article class="photo">
		<a href=""><%=image_tag p.image%></a><br />
        <span class="description"><%= p.title %></span>
        <span class="price">$<%=p.price%></span>
        <span class="description">Categoria: <%= p.category %></span>
	<article>
</section>

<%end%>