<h1>Smartwatch</h1>
<section class="catalogo">
	<% @productos.each do |p| %>
		<% if p.category=="Smartwatch" then %>
			<article class="photo">
			<div class="image-cont">
				<%=link_to (image_tag asset_path(p.image)), show_path(:product_id => p.id), :data => {:purl=> prod_path(p, format: 'json')}%>
			</div>
			<div class="text-cont">
		        <span class="description"><%= p.title %></span>
		        <span class="price">$<%=p.price%></span>
		        <span class="description">Categoria: <%= p.category %></span>
		    </div>
		</article>
		<% end %>
	<%end%>
</section>